<form [formGroup]="createProductForm" (ngSubmit)="onSubmit()" novalidate
  class="flex flex-col gap-4 w-full sm:w-64 md:w-80">
  <div class="flex flex-col gap-1">
    <label for="name">Nombre</label>
    <input pInputText id="name" placeholder="Nombre" formControlName="name" [class.p-invalid]="isInvalid('name')" />
    @if (showErrors("name")) {
    @for (msg of controlErrorMessages("name"); track $index) {
    <p-message [severity]="'error'" [text]="msg" size="small" variant="simple"></p-message>
    }
    }
  </div>

  <div class="flex flex-col gap-1">
    <label for="price">Precio</label>
    <input pInputText type="number" id="price" placeholder="Precio" formControlName="price"
      [class.p-invalid]="isInvalid('price')" />
    @if (showErrors("price")) {
    @for (msg of controlErrorMessages("price"); track $index) {
    <p-message [severity]="'error'" [text]="msg" size="small" variant="simple"></p-message>
    }
    }
  </div>

  <div class="flex flex-col gap-1">
    <label for="taxRate">Impuesto (%)</label>
    <input pInputText type="number" id="taxRate" placeholder="Impuesto (%)" formControlName="taxRate"
      [class.p-invalid]="isInvalid('taxRate')" />
    @if (showErrors("taxRate")) {
    @for (msg of controlErrorMessages("taxRate"); track $index) {
    <p-message [severity]="'error'" [text]="msg" size="small" variant="simple"></p-message>
    }
    }
  </div>

  <div class="flex flex-col gap-1">
    <div class="flex items-center">
      <p-checkbox formControlName="isActive" binary="true" inputId="isActive" label="Activo"></p-checkbox>
      <label for="isActive" class="ml-2"> Activo </label>
    </div>
    @if (showErrors("isActive")) {
    @for (msg of controlErrorMessages("isActive"); track $index) {
    <p-message [severity]="'error'" [text]="msg" size="small" variant="simple"></p-message>
    }
    }
  </div>
  @for (msg of messagesSignal(); track $index) {
  <p-message [severity]="msg.severity" [text]="msg.detail" size="small" variant="simple"></p-message>
  }
  <button pButton severity="secondary" type="submit">
    <span pButtonLabel>Guardar</span>
  </button>
</form>
